!.mvn/wrapper/maven-wrapper.jar
/*.p12

### STS ###
.apt_generated
.factorypath
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea/*
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
wrapper
/target
/**/target
/mvnw
/mvnw.cmd
/.settings
/**/.settings
*.prefs
/*.log
/**/*.log

/.metadata/
